
<svg viewBox="0 0 890 110" fill="transparent" xmlns="http://www.w3.org/2000/svg" font-size="0.6em">
  <desc>Energy usage graph, electricity and gas</desc>
  <rect x="30" y="15" width="800" height="80" />
  <path d="m 30 15 v 80 h 800 h -800 v -80 z" stroke="#999" stroke-width="2" />
  <g fill="#999" text-anchor="end" transform="translate(30, 95)">
    <text>0 -</text>
    <text y="-38">50 -</text>
    <text y="-77">100 -</text>
    <g text-anchor="start" transform="translate(0, 12)">
      <desc>Axes of graph</desc>
      <text x="113">Jan 24</text>
      <text x="228">25</text>
      <text x="343">26</text>
      <text x="457">27</text>
      <text x="572">28</text>
      <text x="687">29</text>
    </g>
  </g>
  <g stroke="#eee" fill="#eee">
    <desc>Graph line from 2.07 to 84.01p last week</desc>
    <polyline points="30,95 30,92 32,92 32,91 35,91 35,93 37,93 37,91 40,91 40,93 42,93 42,91 44,91 44,92 49,92 52,92 52,93 54,93 54,90 56,90 56,92 59,92 59,83 61,83 61,42 64,42 64,65 66,65 66,89 68,89 68,91 71,91 71,88 73,88 73,90 76,90 76,86 78,86 78,92 83,92 85,92 85,90 87,90 87,87 90,87 90,90 92,90 95,90 95,89 97,89 97,91 99,91 99,90 102,90 102,92 104,92 104,91 107,91 107,86 109,86 109,88 111,88 111,51 114,51 114,90 116,90 116,85 119,85 119,88 121,88 121,80 123,80 123,64 126,64 126,81 128,81 128,87 131,87 131,61 133,61 133,59 135,59 135,80 138,80 138,92 140,92 140,91 143,91 143,92 150,92 152,92 152,91 155,91 155,93 157,93 157,91 159,91 159,92 162,92 164,92 164,90 167,90 167,89 169,89 169,91 171,91 174,91 174,86 176,86 176,82 179,82 179,85 181,85 181,89 183,89 183,90 186,90 186,91 188,91 190,91 190,89 195,89 198,89 198,88 200,88 200,91 202,91 205,91 205,87 207,87 207,89 210,89 212,89 212,88 214,88 214,90 217,90 217,91 219,91 219,90 222,90 222,88 224,88 224,85 226,85 226,87 229,87 229,53 231,53 231,55 234,55 234,83 236,83 236,87 238,87 238,85 241,85 243,85 243,86 246,86 246,88 248,88 248,87 250,87 250,90 253,90 253,92 255,92 255,91 258,91 258,92 260,92 262,92 262,91 265,91 265,92 267,92 267,91 270,91 270,92 279,92 281,92 281,82 284,82 284,86 286,86 286,88 289,88 289,92 291,92 291,91 293,91 293,85 296,85 296,89 298,89 298,90 301,90 301,85 303,85 303,82 305,82 305,84 308,84 308,65 310,65 310,83 313,83 313,88 315,88 315,81 317,81 317,89 320,89 320,70 322,70 322,30 325,30 325,69 327,69 327,86 329,86 329,82 332,82 332,87 334,87 334,84 337,84 337,59 339,59 339,46 341,46 341,73 344,73 344,49 346,49 346,60 349,60 349,82 351,82 351,55 353,55 353,69 356,69 356,85 358,85 361,85 361,89 363,89 363,88 365,88 365,81 368,81 368,89 370,89 370,92 373,92 373,91 375,91 375,93 377,93 377,92 380,92 380,91 384,91 387,91 387,92 389,92 389,93 392,93 392,91 394,91 394,93 396,93 396,86 399,86 399,84 401,84 401,87 404,87 404,86 406,86 406,92 408,92 408,91 411,91 411,87 413,87 413,92 416,92 416,84 418,84 418,85 420,85 420,78 423,78 423,88 425,88 425,82 428,82 428,81 430,81 430,87 432,87 432,89 435,89 435,85 437,85 437,92 440,92 440,77 442,77 442,72 444,72 444,89 447,89 447,88 449,88 449,89 452,89 452,60 454,60 454,49 456,49 456,40 459,40 459,51 461,51 461,84 464,84 464,83 466,83 466,90 468,90 468,87 471,87 473,87 473,86 476,86 476,87 478,87 478,91 480,91 480,90 483,90 483,92 485,92 485,91 487,91 487,92 499,92 502,92 502,93 504,93 504,92 507,92 509,92 509,82 511,82 511,85 514,85 514,89 516,89 516,92 519,92 519,85 521,85 521,77 523,77 523,79 526,79 526,90 528,90 528,87 531,87 531,89 533,89 533,82 535,82 535,91 538,91 538,90 540,90 543,90 543,92 545,92 545,84 547,84 547,91 550,91 550,89 552,89 552,79 555,79 555,85 557,85 557,90 559,90 559,92 562,92 562,88 564,88 564,86 567,86 567,87 569,87 569,81 571,81 571,82 574,82 574,62 576,62 576,79 579,79 579,85 581,85 581,90 583,90 583,88 586,88 586,90 588,90 588,84 590,84 593,84 593,86 595,86 595,90 598,90 598,91 600,91 602,91 602,92 605,92 607,92 607,91 610,91 610,93 612,93 612,91 614,91 614,93 617,93 617,91 619,91 619,93 622,93 622,91 624,91 624,93 626,93 626,86 629,86 629,81 631,81 631,91 634,91 634,83 636,83 636,82 638,82 638,87 641,87 641,91 643,91 643,86 646,86 648,86 648,87 650,87 650,81 653,81 653,86 655,86 655,85 658,85 658,92 660,92 660,89 662,89 662,86 665,86 665,90 667,90 667,85 670,85 670,87 672,87 672,89 674,89 674,86 677,86 677,89 679,89 679,90 681,90 681,89 684,89 684,88 686,88 686,80 689,80 689,52 691,52 691,57 693,57 693,77 696,77 696,90 698,90 698,88 701,88 701,90 703,90 705,90 705,83 708,83 708,84 710,84 710,90 713,90 713,93 715,93 715,91 717,91 717,92 722,92 725,92 725,93 727,93 727,91 729,91 729,93 732,93 732,91 734,91 734,93 737,93 737,89 739,89 739,91 741,91 741,87 744,87 744,84 746,84 746,93 749,93 749,73 751,73 751,64 753,64 753,80 756,80 756,86 758,86 758,85 761,85 761,87 763,87 763,39 765,39 765,51 768,51 768,79 770,79 770,84 773,84 773,88 775,88 775,55 777,55 777,60 780,60 780,83 782,83 782,90 784,90 784,91 787,91 787,87 789,87 789,82 792,82 792,81 794,81 794,87 796,87 796,90 799,90 799,89 801,89 801,87 804,87 804,68 806,68 806,47 808,47 808,80 811,80 811,91 813,91 813,89 816,89 816,88 818,88 818,83 820,83 820,82 823,82 823,91 825,91 828,91 828,92 830,92 830,95" fill="none" opacity="0.8" />
    <text stroke="none" x="830" y="92">p last week</text>  
  </g>
  <g stroke="#9e9" fill="#9e9">
    <desc>Graph line from 1.97 to 103.01p</desc>
    <polyline points="30,95 30,92 30,93 32,93 32,91 35,91 35,93 37,93 37,91 40,91 40,93 42,93 42,92 44,92 47,92 47,93 49,93 49,81 52,81 52,87 54,87 54,90 56,90 56,93 59,93 59,83 61,83 61,75 64,75 64,88 66,88 66,90 68,90 68,86 71,86 71,69 73,69 73,86 76,86 76,88 78,88 78,87 80,87 80,84 83,84 83,91 85,91 87,91 87,90 90,90 90,88 92,88 92,86 95,86 95,79 97,79 97,16 99,16 99,61 102,61 102,72 104,72 104,81 107,81 107,87 109,87 109,91 111,91 111,50 114,50 114,52 116,52 116,83 119,83 119,84 121,84 123,84 123,82 126,82 126,89 128,89 128,83 131,83 131,90 133,90 133,84 135,84 135,90 138,90 138,93 140,93 140,91 143,91 143,93 145,93 145,92 147,92 150,92 150,93 152,93 152,91 155,91 155,93 157,93 157,91 159,91 159,93 162,93 162,92 164,92 164,90 167,90 167,88 169,88 169,83 171,83 171,91 174,91 174,84 176,84 176,81 179,81 179,88 181,88 181,91 183,91 183,90 186,90 186,89 188,89 188,84 190,84 190,81 193,81 195,81 195,66 198,66 198,89 200,89 200,88 202,88 202,89 205,89 205,86 207,86 207,87 210,87 210,90 212,90 214,90 214,89 217,89 217,91 219,91 219,83 222,83 222,84 224,84 224,51 226,51 226,67 229,67 229,79 231,79 231,58 234,58 234,82 236,82 238,82 238,86 241,86 241,87 243,87 243,88 246,88 248,88 248,89 250,89 250,77 253,77 253,91 255,91 255,90 258,90 258,93 260,93 260,91 262,91 262,92 265,92 265,91 267,91 267,92 270,92 272,92 272,91 274,91 274,93 277,93 277,91 279,91 279,93 281,93 281,92 284,92 286,92 286,93 289,93 289,83 291,83 291,89 293,89 293,91 296,91 296,89 298,89 298,91 301,91 301,86 303,86 303,87 305,87 305,63 308,63 308,91 310,91 310,86 313,86 313,87 315,87 315,86 317,86 317,91 320,91 320,89 322,89 322,93 325,93 325,91 327,91 327,93 329,93 329,91 332,91 332,93 334,93 334,65 337,65 337,44 339,44 339,45 341,45 341,60 344,60 344,71 346,71 346,86 349,86 349,89 351,89 351,90 353,90 353,89 356,89 358,89 358,91 361,91 361,87 363,87 363,86 365,86 365,83 368,83 368,91 370,91 373,91 373,92 377,92 380,92 380,91 382,91 384,91 384,90 387,90 387,93 389,93 389,91 392,91 392,92 394,92 394,93 396,93 396,86 401,86 404,86 404,91 406,91 406,92 408,92 408,87 411,87 411,91 413,91 416,91 416,85 418,85 418,91 420,91 420,89 423,89 423,85 425,85 425,88 428,88 428,85 430,85 430,74 432,74 432,55 435,55 435,80 437,80 437,86 440,86 440,81 442,81 442,86 444,86 444,90 447,90 447,77 449,77 449,87 452,87 452,70 454,70 454,77 456,77 456,84 459,84 459,43 461,43 461,56 464,56 464,77 466,77 466,83 468,83 468,88 471,88 471,89 473,89 473,86 476,86 476,89 478,89 478,88 480,88 480,91 483,91 483,92 487,92 490,92 490,93 492,93 492,91 495,91 495,93 497,93 497,91 499,91 499,93 502,93 502,92 504,92 507,92 507,93 509,93 509,91 511,91 511,92 514,92 514,80 516,80 516,91 519,91 519,84 521,84 521,82 523,82 523,77 526,77 526,67 528,67 528,84 531,84 531,83 533,83 533,85 535,85 535,90 538,90 538,69 540,69 540,63 543,63 543,79 545,79 545,90 547,90 547,91 550,91 550,87 552,87 552,88 555,88 555,87 557,87 557,88 559,88 559,85 562,85 562,87 564,87 564,89 567,89 567,87 569,87 569,83 571,83 571,80 574,80 574,71 576,71 576,72 579,72 579,85 581,85 581,89 583,89 583,91 586,91 586,88 588,88 588,80 590,80 590,85 593,85 593,86 595,86 595,90 598,90 600,90 600,93 602,93 602,91 605,91 605,93 607,93 607,91 610,91 610,92 614,92 617,92 617,93 619,93 619,91 622,91 622,93 624,93 624,91 626,91 626,93 629,93 629,92 631,92 631,89 634,89 634,83 636,83 636,78 638,78 638,87 641,87 643,87 643,83 646,83 646,91 648,91 648,90 650,90 650,91 653,91 653,90 655,90 655,91 658,91 658,85 660,85 660,72 662,72 662,79 665,79 665,86 667,86 667,89 670,89 670,90 672,90 672,92 674,92 674,90 677,90 679,90 679,85 681,85 681,91 684,91 684,85 686,85 686,79 689,79 689,71 691,71 691,65 693,65 693,83 696,83 696,90 698,90 698,89 701,89 701,90 703,90 703,89 705,89 705,84 708,84 708,90 710,90 710,91 713,91 713,92 715,92 717,92 717,95" fill="#fff" opacity="0.8" />
    <text stroke="none" x="717" y="92">p</text>  
    <line x1="92" y1="88" x2="92" y2="36" />
    <rect x="13" y="24" width="84" height="12" fill="#fff" />
    <text stroke="none" x="21" y="34">free energy 🐙</text>
    <line x1="140" y1="93" x2="140" y2="18" />
    <rect x="69" y="6" width="76" height="12" fill="#fff" />
    <text stroke="none" x="77" y="16">Thu £6.39-ish</text>
    <line x1="255" y1="91" x2="255" y2="18" />
    <rect x="208" y="6" width="52" height="12" fill="#fff" />
    <text stroke="none" x="216" y="16">Fri £6.72</text>
    <line x1="370" y1="91" x2="370" y2="18" />
    <rect x="321" y="6" width="54" height="12" fill="#fff" />
    <text stroke="none" x="329" y="16">Sat £6.35</text>
    <line x1="485" y1="92" x2="485" y2="20" />
    <rect x="436" y="8" width="54" height="12" fill="#fff" />
    <text stroke="none" x="444" y="18">Sun £7.06</text>
    <line x1="600" y1="90" x2="600" y2="17" />
    <rect x="547" y="5" width="58" height="12" fill="#fff" />
    <text stroke="none" x="555" y="15">Mon £6.55</text>
    <line x1="715" y1="92" x2="715" y2="18" />
    <rect x="666" y="6" width="54" height="12" fill="#fff" />
    <text stroke="none" x="674" y="16">Tue £5.27</text>
  </g>
  <g stroke="#fcc" fill="#fcc">
    <desc>Graph line from 0 to 58.36</desc>
    <polyline points="30,95 59,95 61,95 61,75 64,75 64,88 66,88 66,90 68,90 68,86 71,86 71,69 73,69 73,86 76,86 76,95 97,95 99,95 99,61 102,61 102,72 104,72 104,81 107,81 107,87 109,87 109,91 111,91 111,50 114,50 114,95 174,95 176,95 176,81 179,81 179,88 181,88 181,91 183,91 183,90 186,90 186,89 188,89 188,84 190,84 190,95 212,95 214,95 214,89 217,89 217,91 219,91 219,83 222,83 222,84 224,84 224,51 226,51 226,67 229,67 229,95 519,95 521,95 521,82 523,82 523,77 526,77 526,67 528,67 528,84 531,84 531,83 533,83 533,85 535,85 535,95 557,95 559,95 559,85 562,85 562,87 564,87 564,89 567,89 567,87 569,87 569,83 571,83 571,80 574,80 574,95 634,95 636,95 636,78 638,78 638,87 641,87 643,87 643,83 646,83 646,91 648,91 648,90 650,90 650,95 672,95 674,95 674,90 677,90 679,90 679,85 681,85 681,91 684,91 684,85 686,85 686,79 689,79 689,95 717,95" fill="#fcc" opacity="0.8" />  
  </g>
  <g stroke="#3f3" fill="#3f3">
    <desc>Graph line from 0 to 103.01</desc>
    <polyline points="30,95 87,95 90,95 90,88 92,88 92,86 95,86 95,79 97,79 97,16 99,16 99,95 717,95" fill="#3f3" opacity="0.8" />  
  </g>
</svg>
