<head>
  <meta charset="utf-8">
  {%- if amp %}<script async src="https://cdn.ampproject.org/v0.js"></script>{% endif -%}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1" />
  <link rel="manifest" href="/manifest.json" />
  <title>{{ title or tag | striptags | capitalize }} | {{ data.site.title }}</title>
  <meta name="theme-color" content="#ded">
  <meta name="Description" content="{{ description or title or data.boards[board].description or data.boards[8].description | striptags | truncate(100) }} {{ contents | nl2br | striptags | truncate(100) | replace('"', '&quot;') }}" />
  <meta name="Keywords" content="{%- include 'src/components/keywords.html' -%}" />
  <link inline amp-custom rel="stylesheet" href="/css/fg-head.css">
  {% if ampAllowedMoreThanOneStyleTag %}<style amp-custom>h1{display:none}#→{margin-top:0}</style>{% endif %}
  <link rel="alternate" type="application/rss+xml" title="RSS feed" href="/rss.xml" />
  {% if amp -%}
    <link rel="canonical" href="http://www.folkestonegerald.com/{{ path }}" />
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
  {%- endif %}
  {%- if amp -%}
    <script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
  {%- endif -%}
</head>
