{# <h4>Latest</h4>
<ul id="latest">{% for post in posts.slice(0, 5) %}<li>
  <a title="{{ post.date | string | truncate(15, true, '') }}" href="/{{ post.path }}">{{ post.title }}</a>
</li>{% endfor %}</ul> #}
