{%- if tags.length -%}
  <div><p>
  {%- for tag in tags.slice(0, 7) -%}
  {% if ':' in tag.name %}{% else %}{% if css == 'none' %}🏷 {% endif %}<a rel="tag" href="/wiki/#{{ tag.slug }}">{{ tag.name }}</a> {% endif %}
  {%- endfor -%}
  </p></div>
{%- endif -%}
