<ol>
  <li>⬆️ <a href="/wiki/#running">running</a></li>
  <li>⬆️ <a href="/wiki/#exercise">exercise</a></li>
  <li>⬆️ <a href="/wiki/#runuary">runuary</a></li>
  <li>⬇️ <a href="/wiki/#work">work</a></li>
  <li>⬇️ <a href="/wiki/#weather">weather</a></li>
  <li>⬆️ <a href="/wiki/#not/drinking">not drinking</a></li>
  <li>⤴️ <a href="/wiki/#dryanuary">dryanuary</a></li>
  <li>↔️ <a href="/wiki/#london">london</a></li>
  <li>⬆️ <a href="/wiki/#2025">2025</a></li>
  <li>⬆️ <a href="/wiki/#5k">5k</a></li>
</ol>