<ol>
  <li>⬆️ <a href="/wiki/#running">running</a></li>
  <li>⬆️ <a href="/wiki/#exercise">exercise</a></li>
  <li>⬆️ <a href="/wiki/#runuary">runuary</a></li>
  <li>⬇️ <a href="/wiki/#work">work</a></li>
  <li>⬇️ <a href="/wiki/#weather">weather</a></li>
  <li>⬆️ <a href="/wiki/#not/drinking">not drinking</a></li>
  <li>⤴️ <a href="/wiki/#dryanuary">dryanuary</a></li>
  <li>↔️ <a href="/wiki/#london">london</a></li>
  <li>⬆️ <a href="/wiki/#2025">2025</a></li>
  <li>⬆️ <a href="/wiki/#5k">5k</a></li>
  <li>⤴️ <a href="/wiki/#treadmill">treadmill</a></li>
  <li>⬆️ <a href="/wiki/#tv">tv</a></li>
  <li>⬇️ <a href="/wiki/#parkrun">parkrun</a></li>
  <li>⬇️ <a href="/wiki/#step/count">step count</a></li>
  <li>⬆️ <a href="/wiki/#study">study</a></li>
  <li>⬆️ <a href="/wiki/#coffee">coffee</a></li>
  <li>⬆️ <a href="/wiki/#tesco">tesco</a></li>
  <li>⬇️ <a href="/wiki/#glastonbury">glastonbury</a></li>
  <li>⬇️ <a href="/wiki/#festival">festival</a></li>
  <li>⬇️ <a href="/wiki/#christmas">christmas</a></li>
</ol>