<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 460 470" version="1.0">
  <defs>
    <filter id="drop-shadow">
      <feGaussianBlur id="feGaussianBlur4783" stdDeviation="5.4601647"/>
    </filter>
    <linearGradient id="linearGradient2">
      <stop style="stop-color:#f7ec9a" offset="0"/>
      <stop style="stop-color:#f6ea8d" offset=".13401"/>
      <stop style="stop-color:#f5e98a" offset=".45674"/>
      <stop style="stop-color:#f8ed9d" offset=".80934"/>
      <stop style="stop-color:#f5e98a" offset="1"/>
    </linearGradient>
    <g id="note">
      <path style="opacity:.5;filter:url(#drop-shadow);fill:#000000" d="m111.75 670.22l291.37-1.42 5.86 284.29s-228.99-3.84-306.48-0.73c7.35-70.31 9.25-282.14 9.25-282.14z" transform="matrix(1.0231 .0042596 -.0043582 .99999 -61.966 -626.72)"/>
      <path style="fill:url(#linearGradient2)" d="m46.41 37.51l304.28 1.297-1.21 284.28s-262.56 5.77-298.49-15.56c-7.501-36.06-4.58-270.02-4.58-270.02z"/>
    </g>
  </defs>
  <g font-family="Arial, Helvetica, sans-serif" font-size="8">
    <desc>12 sticky notes</desc>
    <polyline stroke="#ccc" fill="none" points="10,460 11,426 10,420 10,396 10,364 9,346 10,320 11,282 10,261 10,250 9,241 10,213 10,184 10,148 10,121 11,103 10,78 9,63 10,54 11,24 7,33 11,24 14,34" />
    <text fill="#ccc" transform="translate(7, 235) rotate(-90)">adopting</text>
    <polyline stroke="#ccf" fill="none" points="7,100 12,100 14,100 42,101 71,100 88,100 101,100 118,100 127,100 151,100 162,100 165,100 174,99 198,99 207,101 221,100 246,99 269,101 295,99 311,101 318,100 336,101 353,99 353,100 378,101 397,100 415,101 441,100" />
    <text x="14" y="110" fill="#ccf">winning</text>
    <text x="20" y="350">1. Empty it to go through security and refill the other side.</text>
    <text x="20" y="360">2. I wear these most days anyway, perfect for travel, but the Patagonias are overtaking them...</text>
    <text x="20" y="370">3. Possibly to overtake the clothingarts shorts! Good in the water in theory.</text>
    <text x="20" y="380">4. Usually somewhere to plug in on trains these days, worth keeping to hand.</text>
    <text x="20" y="390">5. Worked well, starting trip in clothes that were bin-ready and chucking at the destination.</text>
    <text x="20" y="400">6. Great torch + pen, no sharp edges, ok to take through security.</text>
    <text x="20" y="410">7. I was always opposed to wheely cases but this is good, soft, expandable, great for small trips.</text>
    <text x="20" y="420">8. Again good for security, plastic buckle, no taking belt off.</text>
    <text x="20" y="430">9. Liking using super lightweight hand luggage, good for trips and easier to pack away.</text>
    <text x="20" y="440">10. Did not have it when I needed it and it takes up no room! Never forget.</text>
    <text x="20" y="450">11. Can get 50ml "specially for your face" sun cream.</text>
    <text x="20" y="460">12. I love them, but they're too hot for traveling in hot weather, even with the vents. Too hot for Europe, but fine in Marrakech.</text>
    <svg x="350" y="250">
      <g transform="translate(-4 -5) rotate(-0.1 50 50)">
        <use href="#note" transform="scale(0.3 0.3)" />
        
        <text x="20" y="65">Fjallraven trekking</text>
        <text x="20" y="75">trousers. Too hot.</text>
        <text x="20" y="85">(12)</text>
      </g>
    </svg>
    <svg x="350" y="200">
      <g transform="translate(-1 -2) rotate(-0.8 50 50)">
        <use href="#note" transform="scale(0.3 0.3)" />
        
        <text x="20" y="65">Micro razor</text>
        <text x="20" y="75">(disposable + hotel</text>
        <text x="20" y="85">soap better?</text>
      </g>
    </svg>
    <svg x="50" y="150">
      <g transform="translate(-4 -3) rotate(2.4 50 50)">
        <use href="#note" transform="scale(0.3 0.3)" />
        
        <text x="20" y="65">EASTPAK Tranverz</text>
        <text x="20" y="75">wheely case (7)</text>
      </g>
    </svg>
    <svg x="150" y="150">
      <g transform="translate(-1 -3) rotate(-0.5 50 50)">
        <use href="#note" transform="scale(0.3 0.3)" />
        
        <text x="20" y="65">Eono light nylon</text>
        <text x="20" y="75">belt (8)</text>
      </g>
    </svg>
    <svg x="250" y="150">
      <g transform="translate(-5 -4) rotate(-1.4 50 50)">
        <use href="#note" transform="scale(0.3 0.3)" />
        
        <text x="20" y="65">Tote bag good enough</text>
        <text x="20" y="75">as hand luggage (9)</text>
      </g>
    </svg>
    <svg x="350" y="150">
      <g transform="translate(-5 -2) rotate(-0.1 50 50)">
        <use href="#note" transform="scale(0.3 0.3)" />
        
        <text x="20" y="65">OLight OPen (6)</text>
      </g>
    </svg>
    <svg x="50" y="100">
      <g transform="translate(-4 -6) rotate(1.9 50 50)">
        <use href="#note" transform="scale(0.3 0.3)" />
        
        <text x="20" y="65">Lip balm. (10)</text>
      </g>
    </svg>
    <svg x="150" y="100">
      <g transform="translate(-2 -3) rotate(-1.9 50 50)">
        <use href="#note" transform="scale(0.3 0.3)" />
        
        <text x="20" y="65">Hand luggage sized</text>
        <text x="20" y="75">sun cream. (11)</text>
      </g>
    </svg>
    <svg x="250" y="100">
      <g transform="translate(0 0) rotate(1.2 50 50)">
        <use href="#note" transform="scale(0.3 0.3)" />
        
        <text x="20" y="65">Throw away initial</text>
        <text x="20" y="75">clothes (5)</text>
      </g>
    </svg>
    <svg x="350" y="100">
      <g transform="translate(-3 0) rotate(2.7 50 50)">
        <use href="#note" transform="scale(0.3 0.3)" />
        
        <text x="20" y="65">Pickpocket proof</text>
        <text x="20" y="75">shorts from</text>
        <text x="20" y="85">clothingarts.com (2)</text>
      </g>
    </svg>
    <svg x="250" y="50">
      <g transform="translate(-1 -6) rotate(2.7 50 50)">
        <use href="#note" transform="scale(0.3 0.3)" />
        
        <text x="20" y="65">Patagonia Men's</text>
        <text x="20" y="75">Outdoor Everyday</text>
        <text x="20" y="85">Shorts - 7" (3)</text>
      </g>
    </svg>
    <svg x="350" y="50">
      <g transform="translate(-3 -4) rotate(-1.3 50 50)">
        <use href="#note" transform="scale(0.3 0.3)" />
        
        <text x="20" y="65">Chargers always in</text>
        <text x="20" y="75">hand luggage (4)</text>
      </g>
    </svg>
    <svg x="250" y="0">
      <g transform="translate(0 -2) rotate(2.6 50 50)">
        <use href="#note" transform="scale(0.3 0.3)" />
        
        <text x="20" y="65">HydraPak Ultraflask</text>
        <text x="20" y="75">collapsible water</text>
        <text x="20" y="85">bottle (1)</text>
      </g>
    </svg>
    <svg x="350" y="0">
      <g transform="translate(-3 -4) rotate(2.6 50 50)">
        <use href="#note" transform="scale(0.3 0.3)" />
        
        <text x="20" y="65">Packing cubes.</text>
        <text x="20" y="75">Osprey, even Clare</text>
        <text x="20" y="85">is converted</text>
      </g>
    </svg>
  </g>
</svg>
