<h4><a href="http://last.fm/user/PaulyPopEx" title="Via last.fm">Chart of the week</a></h4>
<ol class="🎧">
  <li><a href="/wiki/#dinosaur/jr/" title="Dinosaur Jr.
2 plays">Just Like Heaven</a></li>
  <li><a href="/wiki/#filter" title="Filter
2 plays">Take a Picture</a></li>
  <li><a href="/wiki/#house/of/pain" title="House of Pain
2 plays">Shamrocks and Shenanigans (LP-version)</a></li>
  <li><a href="/wiki/#joe/jackson" title="Joe Jackson
2 plays">Sunday Papers</a></li>
  <li><a href="/wiki/#lenny/kravitz" title="Lenny Kravitz
2 plays">Deuce</a></li>
</ol>
<h4>And top artists of the week</h4>
<ol class="🎧">
  <li><a href="/wiki/#queen" title="Queen
12 plays">Queen</a></li>
  <li><a href="/wiki/#cult" title="The Cult
10 plays">The Cult</a></li>
  <li><a href="/wiki/#motley/crue" title="Mötley Crüe
7 plays">Mötley Crüe</a></li>
  <li><a href="/wiki/#u2" title="U2
5 plays">U2</a></li>
  <li><a href="/wiki/#radiohead" title="Radiohead
5 plays">Radiohead</a></li>
</ol>
